In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:HardThings25@localhost:3306/md_water_services?local_infile=1

In [3]:
%%sql
SHOW Tables;

 * mysql+pymysql://root:***@localhost:3306/md_water_services?local_infile=1
13 rows affected.

[('auditor_report',),
 ('combined_analysis_table',),
 ('data_dictionary',),
 ('employee',),
 ('global_water_access',),
 ('incorrect_records',),
 ('location',),
 ('quality_score',),
 ('sample_rec',),
 ('visits',),
 ('water_quality',),
 ('water_source',),
 ('well_pollution',)]

In [31]:
%%sql
SELECT
*
FROM water_source
limit 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services?local_infile=1
10 rows affected.

[('AkHa00000224', 'tap_in_home', 956),
 ('AkHa00001224', 'tap_in_home_broken', 930),
 ('AkHa00002224', 'tap_in_home_broken', 486),
 ('AkHa00003224', 'well', 364),
 ('AkHa00004224', 'tap_in_home_broken', 942),
 ('AkHa00005224', 'tap_in_home', 736),
 ('AkHa00006224', 'tap_in_home', 882),
 ('AkHa00007224', 'tap_in_home', 554),
 ('AkHa00008224', 'well', 398),
 ('AkHa00009224', 'well', 346)]

In [26]:
%%sql
SELECT * FROM well_pollution
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services?local_infile=1
10 rows affected.

[('KiRu28935224', datetime.datetime(2021, 1, 4, 9, 17), 'Bacteria: Giardia Lamblia', 0.0, 495.898, 'Contaminated'),
 ('AkLu01628224', datetime.datetime(2021, 1, 4, 9, 53), 'Bacteria: E. coli', 0.0, 6.09608, 'Contaminated'),
 ('HaZa21742224', datetime.datetime(2021, 1, 4, 10, 37), 'Inorganic contaminants: Zinc, Zinc, Lead, Cadmium', 2.715, 0.0, 'Contaminated: Chemical'),
 ('HaRu19725224', datetime.datetime(2021, 1, 4, 11, 4), 'Clean', 0.0288593, 9.56996e-05, 'Clean'),
 ('SoRu35703224', datetime.datetime(2021, 1, 4, 11, 29), 'Bacteria: E. coli', 0.0, 22.5009, 'Contaminated'),
 ('AkHa00070224', datetime.datetime(2021, 1, 4, 11, 42), 'Inorganic contaminants: Cadmium', 5.46739, 0.0, 'Contaminated: Chemical'),
 ('HaSe21346224', datetime.datetime(2021, 1, 4, 11, 52), 'Clean', 0.0140376, 8.98989e-05, 'Clean'),
 ('HaYa21468224', datetime.datetime(2021, 1, 4, 12, 3), 'Inorganic contaminants: Chromium, Barium, Chromium, Lead', 6.05137, 0.0, 'Contaminated: Chemical'),
 ('SoRu36278224', datetime.datetime(2021, 1, 4, 12, 24), 'Parasite: Cryptosporidium', 0.0, 485.162, 'Contaminated'),
 ('AkLu02155224', datetime.datetime(2021, 1, 4, 12, 29), 'Inorganic contaminants: Selenium, Arsenic', 7.64106, 0.0, 'Contaminated: Chemical')]

In [9]:
%%sql
SELECT
    lo.location_id,
    lo.province_name,
    lo.town_name
FROM location lo
LEFT JOIN visits v
ON v.location_id = lo.location_id


limit 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services?local_infile=1
10 rows affected.

[('AkHa00000', 'Akatsi', 'Harare'),
 ('AkHa00001', 'Akatsi', 'Harare'),
 ('AkHa00002', 'Akatsi', 'Harare'),
 ('AkHa00003', 'Akatsi', 'Harare'),
 ('AkHa00004', 'Akatsi', 'Harare'),
 ('AkHa00005', 'Akatsi', 'Harare'),
 ('AkHa00006', 'Akatsi', 'Harare'),
 ('AkHa00007', 'Akatsi', 'Harare'),
 ('AkHa00008', 'Akatsi', 'Harare'),
 ('AkHa00009', 'Akatsi', 'Harare')]

In [48]:
%%sql
    CREATE VIEW combined_analysis_table AS
SELECT
   
    lo.province_name,
    lo.town_name,
    ws.type_of_water_source,
    lo.location_type,
    ws.number_of_people_served,
    v.time_in_queue,
    wl.results
    
FROM location lo
LEFT JOIN visits v
ON v.location_id = lo.location_id
LEFT JOIN water_source ws
ON ws.source_id = v.source_id
LEFT JOIN well_pollution wl
ON wl.source_id = v.source_id

WHERE v.visit_count = 1

 * mysql+pymysql://root:***@localhost:3306/md_water_services?local_infile=1
(pymysql.err.OperationalError) (1050, "Table 'combined_analysis_table' already exists")
[SQL: CREATE VIEW combined_analysis_table AS
SELECT

    lo.province_name,
    lo.town_name,
    ws.type_of_water_source,
    lo.location_type,
    ws.number_of_people_served,
    v.time_in_queue,
    wl.results

FROM location lo
LEFT JOIN visits v
ON v.location_id = lo.location_id
LEFT JOIN water_source ws
ON ws.source_id = v.source_id
LEFT JOIN well_pollution wl
ON wl.source_id = v.source_id

WHERE v.visit_count = 1]
(Background on this error at: https://sqlalche.me/e/14/e3q8)